@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #342E37;
  color: #F5F5F5;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #342E37;
}

::-webkit-scrollbar-thumb {
  background: #4A4450;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9FD356;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4A4450 #342E37;
}
